@Styles.Render("~/Content/css")
@{
    ViewBag.Title = "Home";
}

<div class="jumbotron" style="background-color:white;">
    <div class="row" style="margin:0px; padding:0px;">
        <div class="col-md-8 text-center" style="vertical-align:middle;">
            <img src="~/Content/images/mn-logo.png"  style="width:100%; height:100%"/>
        </div>
        <div class="col-md-4 text-center">
            <img src="~/Content/images/ched.png" style="width:35%; height:35%"/>
            <img src="~/Content/images/dare-to.png" style="width:70%; height:70%"/>
            <img src="~/Content/images/k12-trans.png" style="width:35%; height:35%"/>
        </div>
    </div>
    <h2 style="font-family:'Roboto Medium';"><strong>Welcome to PUP MycoNema Bank</strong></h2>
    <br />
    <p>
        The <span style="font-weight:800;">PUP MycoNema Bank</span> is a collection of fungal pathogens and nematological species and their given information.
        Using this databank, users can search from the registered fungal pathogens and nematological species or register new species to be added to the databank.
        Also, the user can search using the names and/or scientific names of the species as such, additional conditions may be added in order to have a more advanced searching.
        The advanced searching has a feature of either choosing a general or a specific condition. <br /> <br />

        It is an online data storage for the fungal and parasitic nematodes species that will be identified from this project.
        This endeavor attempts to serve as Philippine-wide storage for all the fungal pathogens and parasitic nematodes that can be isolated from other Philippine plants and will be made available
        free of charge regardless of the physical location of the researchers.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Search</h2>
        <p style="font-size:10pt;">
            Search for fungi or nematodes present in the MycoNema Bank. 
            Information of each fungi or nematode is available.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Register</h2>
        <p style="font-size:10pt;">Lorem ipsum</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Learn</h2>
        <p style="font-size:10pt;">Lorem ipsum</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

@section Scripts {
    <script src="~/scripts/toastr.js"></script>
    <script src="~/scripts/toastr.min.js"></script>
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    @if (TempData["Message"] != null)
    {
        <script type="text/javascript">toastr.success("@(TempData["Message"] as string)");</script>
    }
}