<div class="banner">
    <div class="hidden-xs">
        <div class="row" style="margin-right:0px;">
            <div class="col-md-1">
                <br />
            </div>
            <div class="col-md-1 text-center">
                <img src="~/Content/images/logo.png" />
            </div>
            <div>
                <div>
                    <h3>Polytechnic University of the Philippines</h3>
                    <h1>MycoNema Bank</h1>
                </div>
            </div>
        </div>
    </div>
</div>
