@font-face {
    font-family: 'Roboto Thin';
    src: url("../fonts/Roboto-Thin.ttf")
}

@font-face {
    font-family: 'Roboto Regular';
    src: url("../fonts/Roboto-Regular.ttf")
}

@font-face {
    font-family: 'Roboto Medium';
    src: url("../fonts/Roboto-Medium.ttf")
}

.banner {
    background-color:#021215;
    width:100%;
    color: white;
    vertical-align:middle;
}
.banner h1 {
    font-size:3.75vw; 
    font-family:'Roboto Thin';
    margin-top:0px;
    margin-bottom:10px;
    white-space: nowrap;
}
.banner h3 {
    font-size:1vw; 
    font-family:'Roboto Thin';
    margin-bottom:0px;
    margin-top:17px;
    padding-left:0.25vw;
    white-space: nowrap;
}
.banner img {
    margin-top:12px;
    height:80%; 
    width:80%;
}
.navbar {
    padding:0px;
    margin:0px;
    border-radius: 0px;
    border:0px;
    background:#041a1f;        
    color:#ffffff;
    width:100%;
}
.navbar a {
    color: #ffffff;
    font-family: 'Roboto Regular';
    font-size:11.25pt;
}
.navbar-nav > li > a:hover {
    background: #ffffff;
}

.footer-style {
    font-family:'Roboto Regular';
    color:#ffffff;
    background-color:#021215;
    height:100%;
    width:100%;
}

body {
    font-family: 'Roboto Regular';
}

p {
    font-family: 'Roboto Regular';
    text-align:justify;
    font-size:14pt;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
